name: Test Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# This workaround will be fixed after integration with the building workflow for OpenVINO bindings
env:
  BINDINGS_RELEASE: untagged-31bc62defa3b34302d79

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download OpenVINO bindings
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir -p bindings
          gh release download ${{ env.BINDINGS_RELEASE }} -p linux_bindings.tgz
          tar -xzf linux_bindings.tgz -C bindings
          rm linux_bindings.tgz

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test --coverage --no-pub

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage/lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  integration_tests:
    runs-on: ubuntu-latest

    env:
      DISPLAY: ":99"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libmpv-dev libglu1-mesa xvfb

      - name: Download OpenVINO bindings
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mkdir -p bindings
          gh release download ${{ env.BINDINGS_RELEASE }} -p linux_bindings.tgz
          tar -xzf linux_bindings.tgz -C bindings
          rm linux_bindings.tgz

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml

      - name: Install dependencies
        run: flutter pub get

      - name: Start Xvfb
        run: |
          sudo Xvfb $DISPLAY -screen 0 1280x1024x24 > /dev/null 2>&1 &
          echo "Xvfb started"

      - name: Run integration tests
        run: flutter test --coverage --no-pub integration_test -d linux

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage/lcov.info
          flags: integrationtests
          name: codecov-umbrella
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}